<div>
  <div class="flex justify-between items-center p-4">
    <div>
      <h3 budgetOrangeColor>{{ tableTitle() }}</h3>
    </div>
    <div>
      <button budgetButton (click)="addRow()">Add Row</button>
    </div>
  </div>
  <div>
    <table class="w-full table-auto border-collapse text-sm">
      <thead>
        <tr>
          <th [class]="headerCellClass">Totals</th>
          <th [class]="headerCellClass">Estimate</th>
          <th [class]="headerCellClass">Real</th>
          <th [class]="headerCellClass">Diff</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products(); track product.id) {
          <tr>
            <td [class]="dataCellClass">{{ product.name }}</td>
            <td [class]="dataCellClass">{{ product.estimate }}</td>
            <td [class]="dataCellClass">0</td>
            <td [class]="dataCellClass">0</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<budget-modal [isOpen]="isOpen">
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold mb-4">{{ tableTitle() }} Modal</h2>
    <budget-table-form />
    <button budgetButton (click)="closeModal()">Close Modal</button>
  </div>
</budget-modal>
