<div>
  <div class="flex justify-between items-center p-4">
    <div>
      <h3 class="text-orange-500">{{ tableTitle() }}</h3>
    </div>
    <div>
      <button budgetButton (click)="addRow()">Add Row</button>
    </div>
  </div>
  <div>
    <table class="w-full table-auto border-collapse text-sm">
      <thead>
        <tr>
          <th [class]="headerCellClass">Totals</th>
          <th [class]="headerCellClass">Estimate</th>
          <th [class]="headerCellClass">Real</th>
          <th [class]="headerCellClass">Diff</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products(); track product.id) {
          <tr>
            <td [class]="dataCellClass">{{ product.name }}</td>
            <td [class]="dataCellClass">{{ product.estimate }}</td>
            <td [class]="dataCellClass">0</td>
            <td [class]="dataCellClass">0</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<budget-modal [isOpen]="isOpen">
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold mb-4">{{ tableTitle() }} Modal</h2>
    <label [for]="'product_' + tableTitle()">Choose a Product</label>
    <select
      class="w-full p-2 border border-gray-300 rounded"
      name="product"
      [id]="'product_' + tableTitle()"
    >
      @for (product of products(); track product.id) {
        <option [value]="product.id">
          {{ product.name }}
        </option>
      }
    </select>
    <label [for]="'amount' + tableTitle()">Amount</label>
    <input
      [id]="'amount' + tableTitle()"
      type="number"
      class="w-full p-2 border border-gray-300 rounded"
    />
    <button budgetButton (click)="closeModal()">Close Modal</button>
  </div>
</budget-modal>
