<div>
  <div class="flex justify-between items-center p-4">
    <div>
      <h3 class="text-orange-500">{{ tableTitle() }}</h3>
    </div>
    <div>
      <button type="button" class="bg-slate-500 hover:bg-slate-700 dark:bg-slate-300 dark:hover:bg-slate-500 text-white dark:text-gray-900 font-bold py-2 px-4 rounded">Add Row</button>
    </div>
  </div>
  <div>
    <table class="w-full table-auto border-collapse text-sm">
      <thead>
        <tr>
          <th [class]="headerCellClass">Totals</th>
          <th [class]="headerCellClass">Estimate</th>
          <th [class]="headerCellClass">Real</th>
          <th [class]="headerCellClass">Diff</th>
        </tr>
      </thead>
      <tbody>
        @for(product of products(); track product.id) {
          <tr>
            <td [class]="dataCellClass">{{ product.name }}</td>
            <td [class]="dataCellClass">{{ product.estimate }}</td>
            <td [class]="dataCellClass">0</td>
            <td [class]="dataCellClass">0</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
