<form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
  <label for="product">Choose a Product</label>
  <select
    formControlName="product"
    class="w-full p-2 border border-gray-300 rounded"
    name="product"
    id="product"
  >
    @for (product of products(); track product.id) {
      <option [value]="product.id">
        {{ product.name }}
      </option>
    }
  </select>
  @if (
    tableForm.get("product")?.invalid &&
    (tableForm.get("product")?.touched || tableForm.get("product")?.dirty)
  ) {
    @if (tableForm.get("product")?.hasError("required")) {
      <p class="text-red-500">Product is required</p>
    }
  }
  <label for="amount">Amount</label>
  <input
    id="amount"
    type="number"
    formControlName="amount"
    class="w-full p-2 border border-gray-300 rounded"
  />
  @if (
    tableForm.get("amount")?.invalid &&
    (tableForm.get("amount")?.touched || tableForm.get("amount")?.dirty)
  ) {
    @if (tableForm.get("amount")?.hasError("required")) {
      <p class="text-red-500">Amount is required</p>
    }
    @if (tableForm.get("amount")?.hasError("min")) {
      <p class="text-red-500">Amount must be a positive number</p>
    }
  }
  <button budgetButton [disabled]="!tableForm.valid" type="submit">
    submit
  </button>
</form>
