<main class="md:w-6xl mx-auto">
  <budget-section>
    <budget-header (initialBalanceChanged)="changeBalanceHandler($event)"></budget-header>
  </budget-section>
  <budget-section>
    <budget-chart [initialBalance]="initialBalance()"></budget-chart>
    <budget-balance-card></budget-balance-card>
  </budget-section>
  <budget-section>
    <budget-comparison-bars></budget-comparison-bars>
    <budget-comparison-bars></budget-comparison-bars>
  </budget-section>
  <budget-section>
    <budget-table [products]="products"></budget-table>
    <budget-table [products]="products"></budget-table>
  </budget-section>
</main>

<router-outlet />
